/* CSS Document */
footer, footer.row {
	font-size: 12px;
	font-size: 0.75rem;
	padding-top: 8px;
	padding-top: .5rem;
}

.site-footer {
	padding-bottom: 20px;
	padding-bottom: 1.25rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;	
}

footer.entry-meta {
	font-size: 14px;
	font-size: 0.875rem;
	margin-top: 8px;
	margin-top: 0.5rem;
	background-color: #F8F8F8;
	border: 2px double #EEE;
	padding: 8px;
	padding: 0.5rem;
}

#partners {
		
	ul {
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			list-style: none;
			display: inline-block;
			padding: 4px;
			padding: .25rem;
			//border: #F5F5F5 solid 1px;
				
			a {
				
				img {
					height: 100px;
					height: 6.25rem;
				}
			}
			
			zoom: 1;
			*display: inline;	
		}
	}
}

.built-info {
	color: #ccc;
	float: right;	
}