
/* =Navigation
----------------------------------------------- */

.site-content {
	.site-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
	
	.nav-previous {
		float: left;
		width: 50%;
	}
	
	nav {
		clear: both;
		line-height: 2;
		overflow: hidden;
	}
		
}

#nav-above {
	padding: 24px 0;
	padding: 1.5rem 0;
	display: none;
}

#nav-below {
	margin-top: 24px;
	margin-top: 1.5rem;
}

.paged #nav-above {
	display: block;
}

.nav-previous, .previous-image {
	float: left;
	width: 50%;
}

.nav-next, .next-image {
	float: right;
	text-align: right;
	width: 50%;
}

.nav-single + .comments-area, #comment-nav-above {
	margin: 48px 0;
	margin: 3rem 0;
}