/* =Widgets
----------------------------------------------- */
/* Search widget */
#searchsubmit {
	display: none;
}


/* Sidebar */

.widget {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 32px;
	margin-bottom: 2rem;
	
	h3 {
		margin-bottom: 8px;
		margin-bottom: .5rem;
	}
	
	p, li, .textwidget {
		font-size: 13px;
		font-size: 0.8125rem;
		line-height: 1.846153846;
	}
	
	p {
		margin-bottom: 24px;
		margin-bottom: 1.5rem;
	}
	
	a {
		color: #777;
		&:hover {
			color: #21759b;
		}
	}
	
	ul {
		list-style: none;
		margin: 0;
		
		ul {
			margin: 0 0 0 16px;
			margin: 0 0 0 1rem;
		}
	}
}
	
.textwidget {
	ul {
		list-style: disc inside;
		margin: 0; //0 0 24px;
		//margin: 0 0 1.5rem;
	}
	
	li {
		//margin-left: 36px;
		margin-left: 2.25rem;
	}
}

.cat-item, .location-item, .tagcloud > a  {
	display: inline-block;
	margin-right: 8px;	
	margin-right: 0.5rem;	
	margin-bottom: 8px;
	margin-bottom: 0.5rem;
}

.cat-item, .location-item  > a, .tagcloud > a {
	background-color: #E6E6E6;
	padding: 5px;
	padding: 0.3125rem;
	border-radius: 5px;
	font-size: 12px !important;
	font-size: 0.75rem !important;
	
	&:hover {
		background-color: transparent;
	}
}

#tertiary, #secondary.as-tertiary {
	
	//border-top: 1px solid #ddd;
	//border-bottom: 1px solid #ddd;
	border: 1px solid #ddd;
	background-color: #eee;
	padding-top: 24px;
	padding-top: 1.5rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

@media handheld, only screen and (min-width: 767px) {
	#tertiary, #secondary.as-tertiary {
		padding: 24px 0 24px 24px;
		padding: 1.5rem 0 1.5rem 1.5rem;
		width: auto;
	}
}