/* CSS Document */
.single-sg_event .sg_event {
	
	p {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 2;	
	}
	
	.speakers {
		font-weight: bold;
	}
}

.event-speakers { 
	.speaker-title {
		font-size: 16px;
		font-size: 1rem;
		font-weight: bold;	
	}
	
	.speaker-bio {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 2;	
	}
	
	br {
		margin-bottom: 16px;
		margin-bottom: 1rem;	
	}
}

.event-social {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;	
	
	.login {
		
	}
	
	.user-event {
		margin: 0;
		padding: 0;
	}	
	
	.facebook {
		margin: 0;
		padding: 0;
		margin-top: 3px;
		margin-top: 0.1875rem;
		padding-top: 3px;
		padding-top: 0.1875rem;
	}
}

.event-location {
	margin-top: 16px;
	margin-top: 1rem;
	
	.location-map {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

.event-recording {
	width: 100%;
	height: 600px;	
}
